<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- extends: Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Application -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
