.picklist {
    display: table;
}
.picklist > div {
	display: table-cell;
	vertical-align: middle;
}

.picklist .picklist-list {
	height: 200px;
	width: 200px;
}

.picklist .picklist-buttons {
	padding: 0px 5px;
}
.picklist .picklist-buttons .btn {
	margin: 5px;
}
