<p-menubar>
	<ul>
		<li><a data-icon="fa-home"><span>Index</span></a></li>
		<li>
			<a data-icon="fa-gear"><span>Administration</span></a>
			<ul>
				<li><a [routerLink]="['/users']" data-icon="fa-user"><span>Users</span></a></li>
				<li><a [routerLink]="['/profiles']" data-icon="fa-flag"><span>Profiles</span></a></li>
				<li><a [routerLink]="['/rights']" data-icon="fa-flag"><span>Rights</span></a></li>
			</ul>
		</li>

		<li style="float: right;">
			<!-- Anonymous -->
			<template [ngIf]="!isLogged()">
				<a (click)="login()" data-icon="fa-edit">Login...</a>
			</template>
			<!-- Logged -->
			<template [ngIf]="isLogged()">
				<a data-icon="fa-edit">Welcome!</a>
				<ul>
					<li><a><span>Login</span></a></li>
					<li><a><span>My account</span></a></li>
					<li><a><span>Change password</span></a></li>
					<li><a><span>Logout</span></a></li>
				</ul>
			</template>
		</li>
	</ul>
</p-menubar>