<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<beans:import resource="classpath:/META-INF/spring/applicationContext.xml" />

	<http auto-config="true" use-expressions="true">
		<!-- Filter URL instead of roles -->
		<intercept-url pattern="/test.xhtml" access="permitAll" />
		<intercept-url pattern="/login.xhtml" access="permitAll" />
		<intercept-url pattern="/profiles.xhtml" access="hasRole('PROFILE_RO')" />
		<intercept-url pattern="/index.xhtml" access="permitAll" />

		<form-login login-page="/login.xhtml" username-parameter="j_username"
			password-parameter="j_password" login-processing-url="/j_spring_security_check"
			authentication-failure-url="/login.xhtml?error" />

		<csrf disabled="true" />

		<!-- "_input" prefix because the PrimeFaces (JSF?) component add suffix 
			to ID -->
		<remember-me remember-me-parameter="remember-me_input"
			token-repository-ref="tokenRepository" token-validity-seconds="5555" />
	</http>

	<beans:bean id="userDetailsService"
		class="fr.pinguet62.jsfring.gui.login.springsecurity.UserDetailsServiceImpl" />

	<!-- Remember me -->
	<beans:bean id="tokenRepository"
		class="org.springframework.security.web.authentication.rememberme.InMemoryTokenRepositoryImpl" />

</beans:beans>