<p62-datatable [service]="userService" [(selectedValue)]="selectedUser">

	<p62-datatable-columns>
		<p-column field="login" header="Login" sortable="true" filter="true" filterMatchMode="contains"></p-column>
		<p-column field="password" header="Password" hidden="true" sortable="true" filter="true" filterMatchMode="contains"></p-column>
		<p-column field="email" header="Email" sortable="true" filter="true" filterMatchMode="contains"></p-column>
		<p-column field="active" header="Active" sortable="true"></p-column>
		<p-column field="lastConnection" header="Last connection" sortable="true"></p-column>
	</p62-datatable-columns>

	<p62-datatable-dialog>
		<div *ngIf="selectedUser" class="ui-grid ui-grid-responsive ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					<label for="login">Login</label>
				</div>
				<div class="ui-grid-col-8">
					{{selectedUser.login}}
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					<label for="email">Email</label>
				</div>
				<div class="ui-grid-col-8">
					<input pInputText id="email" [(ngModel)]="selectedUser.email" />
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					<label for="active">Active</label>
				</div>
				<div class="ui-grid-col-8">
					<p-checkbox id="active" [(ngModel)]="selectedUser.active"></p-checkbox>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					<label for="lastConnection">Last connection</label>
				</div>
				<div class="ui-grid-col-8">
					{{selectedUser.lastConnection}}
				</div>
			</div>
		</div>
	</p62-datatable-dialog>

</p62-datatable>